.main {
    height: '100vh';
    position: 'relative'
}

.fixed-bottom {
    position: fixed;
    bottom: 10px;
}

.mdl-textfield {
    width: 100%;
}

.mdl-list__item-secondary-content {
    width: 96px;
    text-align: center;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url("../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff") format('woff');
}

.headerStyle {
    background: #ffffff;
    color: #666666;
}

.main-left {
  float: left;
  width: calc(100% - 377px);
  height: 392px;
}
.main-right {
  float: right;
  width: 377px;
  height: 457px;
  background: radial-gradient(circle, #76BF4F 0%, #509612 100%);
}
.main-tag {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    font-family: Montserrat;
    margin: 20px 43px 60px 46px;
}
.facebook-btn {
    height: 46px;
    width: 236px;
    border-radius: 4px;
    background-color: #4867AA  !important;
    margin-left: 72px;
    margin-right: 69px;
    margin-bottom: 26px;
}
.sign-up {
    margin-right: 18px;
    margin-left: 72px;
    height: 46px;
    width: 108px;
    border-radius: 4px;
    background-color: #FFFFFF;
}
.login {
    height: 46px;	
    width: 108px;	
    border-radius: 4px;	
    background-color: #FFFFFF;
}
.login-text {
    height: 16px;	
    width: 54px;	
    color: #509612;	
    font-family: Roboto;	
    font-size: 14px;	
    line-height: 16px;
}
.omb_spanOr {
    display: block;
	position: relative;
	left: 50%;
	top: -0.7em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}
.omb_hrOr {
    background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_hr {
    width: 50%;
    margin-bottom: 14px;
    margin-left: 25%;
}